<?php $item = apply_filter( 'UI_TCOMMENT_ITEM_FILTER' , $item ); ?>
<li id="hid-<?=$item['id']?>" class="history">
<?php if( ($item['user']['id'] == uid()) && ($item['type'] == 2) ): ?>
	<a class="close pull-right hide"  href="javascript:todo_remove_comment(<?=$item['id']?>);">&times;</a>
<?php endif; ?>		
	<abbr title="<?=date("Y-m-d H:i:s" , strtotime($item['timeline']) )?>" style="color: #ccc;font-size: 12px;"><?=rtime($item['timeline'])?></abbr><br/>
	<?=link_at(replace_links($item['content']))?> 
</li>
